<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <insert id="addDish" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dish
        (name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        VALUES (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime},
                #{createUser}, #{updateUser})
    </insert>

    <select id="selectDish" resultType="com.sky.vo.DishVO">
        select d.name,d.image,c.name AS categoryName,d.price,d.status,d.update_time,d.id
        from dish AS d
        LEFT OUTER JOIN category AS c ON c.id = d.category_id
        <where>
            <if test="name != null">d.name LIKE concat('%',#{name},'%')</if>
            <if test="categoryId!=null">and d.category_id = #{categoryId}</if>
            <if test="status!=null">and d.status = #{status}</if>
        </where>
        ORDER BY d.create_time desc
    </select>

    <delete id="deleteDish">
        DELETE FROM dish
        <where> id IN
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </delete>

</mapper>